<app-barra-herramientas></app-barra-herramientas>
<mat-tab-group (selectedTabChange)="cambioCompeticiones($event.index)" animationDuration="0ms">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">list_alt</mat-icon>
            Listado
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">emoji_events</mat-icon>
            Torneos
        </ng-template>
    </mat-tab>
</mat-tab-group>

<div class="contenedorTabla">
    <table mat-table [dataSource]="dataSourceTabla" class="example-table" id="tablaFutbol">

        <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="Imagen">
            <th mat-header-cell *matHeaderCellDef>Imagen</th>
            <td mat-cell *matCellDef="let row"> <img class="imgColumna" src="data:image/png;base64,{{row.imagen}}" alt=""></td>
        </ng-container>
        <ng-container matColumnDef="Capacidad">
            <th mat-header-cell *matHeaderCellDef>Capacidad</th>
            <td mat-cell *matCellDef="let row"> {{row.capacidad}}</td>
        </ng-container>
        <ng-container matColumnDef="Localidad">
            <th mat-header-cell *matHeaderCellDef>Localidad</th>
            <td mat-cell *matCellDef="let row">{{row.localidad}}</td>
        </ng-container>
        <ng-container matColumnDef="Fecha Construccion">
            <th mat-header-cell *matHeaderCellDef>Fecha Construccion</th>
            <td mat-cell *matCellDef="let row"> {{row.fecha_Construccion | date:'d  MMMM y' }}
                </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnas" ></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"
            class="element-row"></tr> 
    </table>
</div>
<app-footer></app-footer>