<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button id="logo" (click)="menuInicio()">
        <mat-icon>emoji_events</mat-icon><span id="titulo">Sport Deals</span>
      </button>
  
      <span class="spacer"></span>
  <!--
      <ng-container>
        <button mat-button [matMenuTriggerFor]="menu" matTooltip="Usuario" (click)="menuLogin()">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="confirmacionAbandonarSesion()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Abandonar la sesión</span>
          </button>
        </mat-menu>
      </ng-container>-->
    </mat-toolbar-row>
  </mat-toolbar>

